.food_add{
    justify-content: flex-end;
}
.dish-container {
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ingredients{
    
  }
  .title{
    color: darkgoldenrod;
    font-size: 23px;
    font-style: initial;
    
  }
  