.button1 {
  width: 71px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #f9f9f9;
  padding-left: 12px;
  margin-left: 12px;
  justify-content: end;
  align-items: center;
  display: inline-flex;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.09), -10px -10px 20px 0px #fff;
}
.button2 {
  width: 125px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 8px;
  padding-left: 12px;
  margin-left: 42rem;
  justify-content: end;
  align-items: center;
  display: inline-flex;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.09), -10px -10px 20px 0px #fff;
  background: rgb(112, 199, 112);
}
